* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 24px;
  border: 3px solid orange;
  margin: 24px 0px;
  width: 100%;
}

.content {
  display: flex;
}
.header {
  background-color: grey;
  color: white;
  padding: 16px;sammdan
}

.content a {
  border: 3px solid green;
}

.btn {
  padding:50px;
  margin-right: 12px;
  background-color: black;
  color: white;
  text-decoration: none;
  display: inline-block
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-container {
  display: inline
}

/* .content {
  display: flex;
} */
